/*index styling*/
/*color scheme colors:
darkblue: #45555D
darkgreenblue: #5D787A
lightgreenblue: #BED0CD
lightest:#E2E7E9 */

body {
		background-color:#E2E7E9;
		font-family: 'Roboto', sans-serif;
		text-align: center;
	}

	#container{
	    width: 80%;
	    margin: 0 auto;
	}

h1{
	color: #45555D;
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 2.5em;
}

p {
	color: #45555D;
}
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #45555D;

}

.nav1 {
    float: left;
}

.nav1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav1 a:hover {
    background-color: #111;
}

#footer {
    color: #244B65;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.8em;
    border-top: 1px solid #244B65;
}

h2 {
	color: #5D787A;
	 font-weight: lighter;
}

h2 a:link {
    color: #5D787A;
		text-decoration: underline;
}

h2 a:visited {
    color: #5D787A;
		text-decoration: none;
}

h2 a:hover {
    color: #5D787A;
		text-decoration: none;
}

h2 a:active {
    color: #5D787A;
		text-decoration: none;
}
.italic {
	font-style: italic;
}
