/*index styling*/

body {
		background-color:#C4DBD6;
		font-family: verdana; "Ariel", san-serif;
    text-align: center;
	}

	#container{
	    width: 95%;
	    margin: 0 auto;
	}

h1{
	color: #3E5555;
}
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.nav1 {
    float: left;
}

.nav1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav1 a:hover {
    background-color: #111;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
