/*index styling*/
/*color scheme colors:
darkblue: #45555D
darkgreenblue: #5D787A
lightgreenblue: #BED0CD
lightest:#E2E7E9 */

body {
		background-color:#E2E7E9;
		font-family: 'Roboto', sans-serif;
		margin:0;
	}

h1{
	color: #45555D;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 2.5em;
}

p {
	color: #45555D;
}

/*logo is shown/hidden based on screen size*/
.logo {
	width: 30px;
	height: auto;
}

.navigation{
	list-style: none;
  background: #45555D;
	margin: 0;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
		align-content: center;
}

.navigation li:last-of-type a{
  border-bottom: none;
}


#footer {
    color: #244B65;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.8em;
    border-top: 1px solid #244B65;
}

h2 {
	color: #5D787A;
	 font-weight: lighter;
}

h2 a:link {
    color: #5D787A;
		text-decoration: underline;
}

h2 a:visited {
    color: #5D787A;
		text-decoration: none;
}

h2 a:hover {
    color: #5D787A;
		text-decoration: none;
}

h2 a:active {
    color: #5D787A;
		text-decoration: none;
}
.italic {
	font-style: italic;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

/*colors*/

/*design things for different parts of page */

header {
	text-align: center;
}

footer {
	text-align: center;
}
aside {
	background: #95A994;
}

img {
	width: 100%;
	height: auto;
}

/*medium screen*/

@media all and (min-width:600px){
	.navigation {
			flex-flow: row wrap;
			justify-content: flex-end;
	}

	.navigation a {
			border: none;
	}

	.navigation a:hover {
			background-color: #111;
	}

	aside {
			flex: 1;
			background: none;
			padding-top: 0;
	}

	article {
		text-align: center;
	flex: 2 0px;
}

	.aside-1 {
			order: 2;
	}

	article {
			order: 1;
	}

	.aside-2 {
			order: 3;
	}

	footer {
			order: 4;
	}
	.joke {
			width: 60%;
	}

.smaller {
	font-size: 1.3em;
	padding: 0;
}

.small {
	font-size: .8em;
}



}

/* large screen*/

@media (min-width:800px) {

    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	  background-color: #111;
    }

    aside {
        flex: 1;
				background: none;
    }

    article {
			text-align: center;
		flex: 2 0px;
	}

    .aside-1 {
        order: 1;
    }

    article {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    footer {
        order: 4;
    }
		.joke {
			width: 75%;
		}
		.logo {
			display: none;
		}


}
